@tailwind base;
@tailwind components;
@tailwind utilities;




/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 20;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:-webkit-repeating-radial-gradient(
      
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* :root {
  --foreground-rgb: 20, 0, 200;
  --background-rgb: 190, 225, 255; /* Adjusted to a white background */
/* }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 20, 20, 20; /* Adjusted to a dark background for dark mode */



