*.json
*.env

sorttable.js

.env*

node_modules/

#ignoring react app installation files

#production
/build
/dist

#misc
/DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
